:root{
    --especial:#555aa6;
    --fundo:#21252b;
    --lugares:#282c34;
    --hover:#2c313a;

}




.calculadora{
    width: 50%;
    height: 60%;

    background-color: var(--lugares);

    border-radius: 10px;
    box-shadow: 7px 9px 15px #1c2025,
                -7px -9px 15px #262a31;
    

    display: flex;
    flex-direction: column;

}

@media only screen and (max-width: 460px) {


    .calculadora{
        width: 100%;
        height: 100%
    };


};
